h1{
   font-family:helvetica;
   font-size:100px;
   font-weight:bold;
   color: khaki;
   text-align: center;
   background-image: url("../img/pattern.jpeg"); 
}
h2{
    font-family:helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
em{
    font-family:helvetica;
    font-weight:bold;
    color:blue;
}


.brushes h2{
    background-color: mediumspringgreen;
}
.frames h2{
    background-color: lightcoral;
}
.paints h2{
    background-color: skyblue;
}